@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("base.css");

:root {
  --color-bg: white;
  --color-text: black;
  --color-secondary: var(--color-zinc-400);
  --color-accent: #7252df;
}

body {
  margin: 2rem auto;

  font-family: Mulish, sans-serif;
  font-weight: 300;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  margin: 2rem 0 0.5rem 0;
}

strong {
  font-weight: 600;
}

/* Custom */

#hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

#hero h1 {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
}

#hero p {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

#compatibility p {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

.download {
  height: 2.5rem;
  display: inline-block;
}

/* FAQ */

#faq-select {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--color-accent);
  color: white;
  border-color: var(--color-accent);
}

input[type="radio"]:not(:checked) + label:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
