body {
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 800px;
    margin: auto;
    padding: 4rem 2rem;

    font-family: var(--body-font), sans-serif;
    color: var(--text-color);
}

a {
    color: var(--theme-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    font-family: var(--heading-font), var(--body-font), sans-serif;
}

img {
    /* Disable highlighting images */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
