<nav class="navbar">
    <a class="logo" href="{{ index }}">
        <img src="/images/{{ tag }}/icon.png" />
        <span>{{ tag | safe }}</span>
    </a>
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            {% for page in pages %}
            <li>
                <a href="{{ page.slug }}">{{ page.name }}</a>
            </li>
            {% endfor %}
            <li>
                <a onclick="window.location.href={{ mailto }};">Support</a>
            </li>
        </div>
    </ul>
</nav>
