<title>
  ${if(title)} ${title} | ${site_name} ${else} ${site_name} ${endif}
</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
${if(description)}
<meta name="description" content="${description}" />
${endif}
<meta property="og:site_name" content="${site_name}" />
<meta property="og:title" content="${title}" />
<meta property="og:url" content="${site}${slug}" />
<meta property="og:description" content="${description}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<!-- Styles -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css"
>
<link rel="stylesheet" href="/css/${stylesheet}.css">

<!-- Scripts -->
<script
  src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"
></script>
<script defer src="/js/script.js"></script>

<!-- Cloudflare Web Analytics -->
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "8717da2f22044f86b25e1ff54c888434"}'
></script>
<!-- End Cloudflare Web Analytics -->
