<nav>
  <style>
    me {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      & a {
        font-weight: normal;
        color: var(--color-text);
        text-decoration: none;

        &:hover {
          color: var(--color-accent);
          text-decoration: none;
        }
      }
    }
  </style>

  <a href="/projects/${project}/">
    <style>
      me {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        & span {
          font-weight: 600;
        }
      }
    </style>
    <img
      src="/images/${project}/icon.png"
      alt="${site_name}"
      width="24"
      height="24"
    >
    <span>${site_name}</span>
  </a>

  <!-- Compact -->
  <details>
    <style>
      @media sm {
        me {
          display: none;
        }
      }
    </style>
    <summary>
      <img src="/images/bars.svg" width="24" height="24">
    </summary>
    <div>
      <style>
        me {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 1rem;
          width: auto;
          padding: 1rem 2rem;

          position: absolute;
          right: 32px;
          z-index: 1;
          background-color: white;
          border-radius: var(--rounded);
          border: 1px solid var(--color-zinc-200);
        }
      </style>
      <a href="/projects/${project}/">Home</a>
      <a href="/projects/${project}/faq">FAQ</a>
      <a href="/projects/${project}/privacy">Privacy</a>
      <a href="javascript:mail();">Support</a>
    </div>
  </details>

  <!-- Widescreen -->
  <div>
    <style>
      me {
        display: none;
      }

      @media sm {
        me {
          display: flex;
          flex-direction: row;
          gap: 2rem;
        }
      }
    </style>

    <a href="/projects/${project}/">Home</a>
    <a href="/projects/${project}/faq">FAQ</a>
    <a href="/projects/${project}/privacy">Privacy</a>
    <a href="javascript:mail();">Support</a>
  </div>
</nav>
