---
title: FAQ
---
<div x-data="{ platform: null }">
  <div class="hero">
    <h1>FAQ</h1>
    <p>Answers to common questions about Accelerate</p>

    <button
      class="btn"
      @click="platform = 'macOS'"
      :class="platform === 'macOS' ? 'btn btn-selected' : 'btn'"
    >
      macOS
    </button>
    <button
      class="btn"
      @click="platform = 'iOS'"
      :class="platform === 'iOS' ? 'btn btn-selected' : 'btn'"
    >
      iOS
    </button>
  </div>

  <div>
    <div x-cloak x-show="platform === 'macOS'">
      {% renderFile './src/projects/accelerate/faq-mac.md' %}
    </div>

    <div x-cloak x-show="platform === 'iOS'">
      {% renderFile './src/projects/accelerate/faq-ios.md' %}
    </div>
  </div>
</div>

