:root {
    --theme-color: #7252df;
    --text-color: black;
    --background-color: white;
    --body-font: Mulish;
}

[x-cloak] {
    display: none !important;
}

body {
    padding-top: 1rem;
}

/* Hero */

.hero {
    text-align: center;
    margin-bottom: 4rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

img[alt="screenshot"] {
    width: 100%;
    margin-top: 1rem;
}

/* General */

h2 {
    margin-top: 2rem;
}

p,
li {
    line-height: 1.5;
}

details {
    margin-bottom: 1rem;
}

details > summary {
    list-style-type: none;
    cursor: pointer;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: "+";
    margin-right: 0.5rem;
}

details[open] > summary::before {
    content: "–";
    margin-right: 0.6rem;
}

summary {
    font-weight: bold;
}

.btn {
    all: unset;
    border: 1px solid;
    padding: 0.5em;
    width: 6rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.2rem;
}

.btn:hover {
    color: var(--theme-color);
    border-color: var(--theme-color);
}

.btn-selected {
    color: white;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.btn-selected:hover {
    color: white;
}
