---
import Head from "../../components/Head.astro";

import "@fontsource-variable/petrona"; // weights 100-900
import "@fontsource/ia-writer-mono"; // weights 400/700
import "../../styles/base.css";

const description =
    Astro.props.description ?? "Software engineer based in San Francisco.";
---

<!doctype html>
<html lang="en">
    <Head
        site="Ritam Sarmah"
        page={Astro.props.page}
        description={description}
    />
    <body class="text-zinc-900 dark:bg-zinc-900 dark:text-zinc-300">
        <main
            class="flex-grow flex flex-col gap-14 w-full max-w-3xl px-8 mx-auto mb-20 tracking-wide"
        >
            <slot />
        </main>
    </body>
</html>
