---
import Head from "../../components/Head.astro";

// Supports weights 100-900
import "@fontsource-variable/petrona";
import "../../styles/base.css";
---

<!doctype html>
<html lang="en">
    <Head
        site="Ritam Sarmah"
        description="Software engineer based in San Francisco."
    />
    <body class="text-zinc-900 dark:bg-zinc-900 dark:text-zinc-300">
        <slot />
    </body>
</html>

<style>
    body {
        font-family: "Petrona Variable", serif;
    }
</style>
