@import "tailwindcss";

/* Fonts */

body {
    font-family: "Petrona Variable", serif;
}

code,
pre,
samp,
kbd {
    font-family: "iA Writer Mono", monospace;
    font-size: 0.8rem;
}

kbd {
    font-family: "iA Writer Mono", monospace;
    font-size: 0.9rem;
}

ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ol {
    list-style-type: decimal;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Appearance */

a {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover {
    text-decoration-style: solid;
    color: black;
}

@media (prefers-color-scheme: dark) {
    a:hover {
        color: white;
    }
}

/* Articles */

article h2 {
    font-size: var(--text-2xl);
}

article h3 {
    font-size: var(--text-xl);
}

article h2,
article h3,
article h4,
article h5 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article pre {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: var(--color-zinc-800) !important;
}

article blockquote {
    font-style: italic;
    margin: 1.5rem 0;
    padding-left: 1rem;
    border-left: 4px solid var(--color-zinc-400);
}

article code:not(pre code),
article kbd {
    padding: 0.125rem 0.275rem;
    margin-block: -0.125rem;
    background-color: var(--color-zinc-200);
}

@media (prefers-color-scheme: dark) {
    article code:not(pre code),
    article kbd {
        background-color: var(--color-zinc-800);
    }
}

.footnotes {
    font-size: 0.75rem;
}
