---
import Layout from "../../../layouts/accelerate/Layout.astro";
import FAQMac from "../../../content/accelerate/faq-mac.mdx";
import FAQiOS from "../../../content/accelerate/faq-ios.mdx";
---

<Layout title="FAQ">
    <article>
        <header>
            <h1>FAQ</h1>
            <p class="text-center mt-4">
                Answers to common questions about Accelerate
            </p>
            <div class="flex gap-4 justify-center mt-8">
                <input type="radio" id="radio-mac" name="faq" value="mac" />
                <label for="radio-mac">macOS</label>

                <input type="radio" id="radio-ios" name="faq" value="ios" />
                <label for="radio-ios">iOS</label>
            </div>
        </header>
        <div id="mac" class="faq hidden">
            <FAQMac />
        </div>
        <div id="ios" class="faq hidden">
            <FAQiOS />
        </div>
    </article>
</Layout>

<style>
    input[type="radio"] {
        display: none;
    }

    input[type="radio"] + label {
        background-color: transparent;
        border: 1px solid black;
        padding: 0.5rem 2rem;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="radio"]:checked + label {
        background-color: var(--accent);
        color: white;
        border-color: var(--accent);
    }

    input[type="radio"]:not(:checked) + label:hover {
        color: var(--accent);
        border-color: var(--accent);
    }
</style>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('input[name="faq"]').forEach(radio => {
            radio.addEventListener("change", event => {
                const value = event.target.value;
                document.querySelectorAll(".faq").forEach(el => {
                    if (el.id === value) {
                        el.classList.remove("hidden");
                        history.replaceState(null, null, `#${el.id}`);
                    } else {
                        el.classList.add("hidden");
                    }
                });
            });
        });

        // Show preselected FAQ if needed
        const hash = window.location.hash;
        if (hash != null) {
            const selection = hash.split("#")[1];
            const faq = document.getElementById(selection);
            if (faq != null) {
                const radio = document.getElementById(`radio-${selection}`);
                radio.checked = true;
                radio.dispatchEvent(new Event("change"));
            }
        }
    });
</script>
