---
import Layout from "../layouts/base/Layout.astro";
---

<Layout title="Ritam Sarmah">
    <div>
        <h1 class="text-3xl font-semibold mb-2">404</h1>
        <h2 class="text-xl">The requested page was not found.</h2>
    </div>
    <a href="/">Back to Home</a>
</Layout>
