---
import Layout from "../layouts/base/Layout.astro";
import PostList from "../components/PostList.astro";
---

<Layout>
    <nav aria-label="Breadcrumb">
        <a href="/">Home</a>
    </nav>
    <div>
        <h1 class="text-3xl font-bold mb-5">Posts</h1>
        <PostList />
    </div>
</Layout>
