---
import Layout from "../layouts/base/Layout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import PostList from "../components/PostList.astro";
---

<Layout>
    <Breadcrumb>
        <a href="/">Home</a>
    </Breadcrumb>
    <div>
        <h1 class="text-3xl font-bold mb-5">Posts</h1>
        <PostList />
    </div>
</Layout>
