---
import Link from "../components/Link.astro";
import { mail } from "/src/utils";

const { text } = Astro.props;
---

<span class="group">
    <slot />
    <span class="rs opacity-0 group:hover:opacity-100"></span>
</span>

<script is:inline>
    function mail() {
        const x = atob("bWFpbHRv");
        const y = atob("aGVsbG9Acml0YW0ubWU=");

        document
            .querySelectorAll('a[href="javascript:mail();"]')
            .forEach(link => {
                link.innerText = y;
                link.href = `${x}:${y}`;
            });
    }
</script>
