---
import { stringifyDate } from "../utils";

const posts = Object.values(
    import.meta.glob("../pages/posts/*.mdx", { eager: true })
);
---

<div>
    {
        posts.map(post => (
            <div class="mb-4">
                <a href={post.url}>
                    <h3 class="text-xl">{post.frontmatter.title}</h3>
                </a>
                <p class="text-zinc-500">
                    {stringifyDate(post.frontmatter.date)}
                </p>
            </div>
        ))
    }
</div>
